<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Blog Daily</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column">
  <nav class="navbar">
    <h1 class="title"><a href="/dashboard">Dashboard</a></h1>
      <ul class="flex-row">
        <li class="li-inline nav-item"><a href="/">Home</a></li>
        <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
        <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
      </ul>
  </nav>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>