<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Daily</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<main>
    <div class="navbar">
        <ul>
            <li class="line-item">Home</li>
            <li class="line-item">Dashboard</li>
            <li class="line-item">Login</li>
            <li class="line-item">Sign Out</li>
        </ul>
    </div>
    <header>
        <h1 class="title"><a href="/">Your Blog Daily</a></h1>
    </header>
</main>

<body>
    {{{body}}}
</body>

</html>
<script src="/js/logout.js"></script>