<div class="all-posts">
  {{#each posts}}
    <a class="list-item-post" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>